{% include "header.html" %}
<!-- Navbar End -->
{% load static %}

<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 200px"
  >
    <h3 class="display-3 font-weight-bold text-white">Our Classes</h3>
    <div class="d-inline-flex text-white">
      <p class="m-0"><a class="text-white" href="">Home</a></p>
      <p class="m-0 px-2">/</p>
      <p class="m-0">Our Classes</p>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Class Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h3 class="section-title px-5">
        <span class="px-2">Our Classes</span>
      </h3>
      <br />

      <h2>Classes for Your Children</h2>
    </div>
    <div class="row">
      {% for c in classes %}
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2 h-100">
          <div style="height: 250px">
            <img
              class="card-img-top mb-2"
              src="{{c.class_picture.url}}"
              alt=""
              style="width: 100%"
              height="100%"
            />
          </div>

          <div class="card-body text-center">
            <h4 class="card-title">{{c.name}}</h4>
            <p class="card-text">{{c.class_description}}</p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Class Time</strong>
              </div>
              <div class="col-6 py-1">{{c.class_time}}</div>
            </div>
            <div class="row">
              <div class="col-6 py-1 text-right border-right">
                <strong>Fee</strong>
              </div>
              <div class="col-6 py-1">RS {{c.fees}} / Month</div>
            </div>
          </div>
          <a href="/register{{c.id}}" class="btn btn-primary px-4 mx-auto mb-4"
            >Get Admission</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Class End -->

<!-- Registration Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <p class="section-title pr-5">
          <span class="pr-2">Book A Seat</span>
        </p>
        <h1 class="mb-4">Book A Seat For Your Child</h1>
        <p>
          Give your child the best start to their educational journey. Our
          nurturing environment and dedicated teachers ensure every child
          thrives. Enroll now to secure a place and invest in your child's
          future. Experience a school where curiosity is encouraged, creativity
          is celebrated, and learning is a joyful adventure.
        </p>

        <ul class="list-inline m-0">
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i>Flexible and Loving
            environment
          </li>
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i>Experienced and
            dedicated teaching staff
          </li>
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i>Comprehensive and
            holistic curriculum
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <div class="card border-0">
          <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">Book A Seat</h1>
          </div>
          <div class="card-body rounded-bottom bg-primary p-5">
            <form action="/bookSeat" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input
                  type="text"
                  class="form-control border-0 p-4"
                  placeholder="Your Name"
                  required="required"
                  name="name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control border-0 p-4"
                  placeholder="Your Address"
                  required="required"
                  name="address"
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control border-0 p-4"
                  placeholder="Your Phone Number"
                  required="required"
                  name="contact_number"
                />
              </div>
              <div class="form-group">
                <select
                  class="custom-select border-0 px-4"
                  style="height: 47px"
                  name="grade"
                >
                  <option selected>Select A Class</option>
                  <option value="Nursery">Class Nursery</option>
                  <option value="LKG">Class LKG</option>
                  <option value="UKG">Class UKG</option>
                  <option value="ONE">Class 1</option>
                  <option value="TWO">Class 2</option>
                  <option value="THREE">Class 3</option>
                  <option value="FOUR">Class 4</option>
                  <option value="FIVE">Class 5</option>
                  <option value="SIX">Class 6</option>
                  <option value="SEVEN">Class 7</option>
                  <option value="EIGHT">Class 8</option>
                </select>
              </div>
              <div>
                <button
                  class="btn btn-secondary btn-block border-0 py-3"
                  type="submit"
                >
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Registration End -->

<!-- Footer Start -->
{% include "footer.html" %}
